body {
    margin: 0;
    padding: 0;
    background-color: rgb(27, 20, 41);
}

iframe {
    margin-left: 2.5vw;
    margin-top: 3.75vh;
    width: 95vw;
    height: 92.5vh;
    border: 3px solid rgb(74, 69, 99);
}